<!--
    ioBroker.vis YouTube Widget-Set

    version: "0.0.7"

    Copyright 2020 Matthias Kleine info@haus-automatisierung.com
-->
<link rel="stylesheet" href="widgets/youtube/css/style.css" />
<script type="text/javascript" src="widgets/youtube/js/youtube.js"></script>

<script id="tplYoutubeHelper"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div id="prev_tplYoutubeHelper" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev youtube-widget" style="width: 110px; height: 125px;"><span class="current-value">12345</div></div>'
        data-vis-attrs="oid/id;"
        data-vis-attrs0="group.extraYoutube;extraAttr"
        data-vis-set="youtube"
        data-vis-name="YouTube">
    <div class="vis-widget youtube-widget <%== this.data.attr('class') %>" style="overflow: visible; width: 175px; height: 190px;" id="<%= this.data.attr('wid') %>">
        <span class="current-value">
            <% vis.binds.youtube.createWidget(this.data.wid, this.view, this.data, this.style); %>
        </span>
    </div>
</script>